
<html>
    <head>
{{>header}}
    </head>
<body>
    <h1>
        Todays Weather
        <script src="/js/app.js"></script>
    </h1>
    <h2>
       {{forecast}} in {{address}} at {{location}}
    </h2>
    {{>footer}}
</body>
</html>